.DS_Store
.thumbs.db
node_modules

/.next
/dist
/out
/data
/public/sw.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*-debug.log

# Build cache
*.tsbuildinfo
next-env.d.ts

# Editor directories and files
.idea
.vscode
.kilo
*.suo
*.ntvs*
*.njsproj
*.sln
*.log

# docker & local tool configs
.npm
.config

# secret & environment
config.ts
.env*.local
